.container-1 , .container-2, .container-3{
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    margin-top: 20px;

}

.flex-box-container-1, .flex-box-rps , .flex-box-changecolor{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-container-1 div{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
}



#fetchimg {
    border: 1px solid red;
    width: 30%;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0,10);
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233,1);
}